<!doctype html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords"
        content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Uniland - Real Estate HTML5 Template</title>

    <base href="../../">
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon2.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap"
        rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/webfonts/unicode/style.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/control.css">
    <!-- toastify -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body class="dashboard-message">

    <div class="preloader">
        <div class="loader"></div>
    </div>

    <div id="page_wrapper" class="bg-light-gray">
        <div class="sidebar-page-wrapper">
            <%- include("../partials/dashboard-navbar")%>

            



                <div class="right-sidebar-block">
                    <!--============== Dashboard Start ==============-->

  <%- include("../partials/headerDashboard.ejs")%>

                 
             <div class=" container">
                    <div class="row">
                        <div class="col">
                            <div class="page-title-wrapper d-lg-flex flex-column gap-3">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0 bg-transparent p-0">
                                        <li class="breadcrumb-item"><a href="admin">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="admin/leads">Leads</a></li>

                                        <li class="breadcrumb-item " aria-current="">Edit Lead</li>
                                    </ol>
                                </nav>
                              
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="full-row p-3">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 d-flex flex-row justify-content-between">
                                    <h3 class="py-3 color-dark d-inline-block">Edit Leads</h3>  
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12">
                                    <% if(data.agent && data.lead && data.location){%>
                                      <form name="leadForm" id="leadForm" action="http://localhost:8080/backend/lead" method="post">
                                        <div class="row g-3">
                                            <div class="col-lg-12">
                                                <label>Username</label>
                                                <input type="text" name="clientName" class="form-control" placeholder="Username" value="<%=data.lead.clientName%>" disabled required>
                                            </div>

                                            <div class="col-lg-12">
                                                <label>Email</label>
                                                <input type="email" name="email" value="<%=data.lead.email%>" class="form-control" placeholder="Email" disabled required>
                                            </div>

                                            <div class="col-lg-12">
                                                <label>Location</label>
                                                <select class="form-control" name="locationName" disabled required>
                                                    <% data.location.forEach((location, index) => { %>
                                                        <option value="<%= location._id %>" <%=data.lead.locationName==location.locationName?'Selected':''%>>
                                                            <%= location.locationName %>
                                                        </option>
                                                    <% }) %>
                                                </select>
                                            </div>

                                            <div class="col-lg-12">
                                                <label>Mobile Number</label>
                                                <!-- <input type="number" class="form-control" name="mobileNumber" placeholder="Mobile Number" minlength="10" maxlength="10"  min="1000000000" max="9999999999" required> -->
                                            <input type="text" class="form-control" value="<%=data.lead.mobileNumber%>" name="mobileNumber" disabled placeholder="Mobile Number " pattern="\d{10,}" maxlength="10" inputmode="numeric" required 
                                            oninvalid="this.setCustomValidity('Please enter a valid 10-digit mobile number')" 
                                            oninput="this.setCustomValidity('')">
                                            </div>

                                            <div class="col-lg-12">
                                                <label>Lead Type</label>
                                                <select class="form-control" name="leadType" required>
                                                    <% data.leadType.forEach((type, index) => { %>
                                                        <option value="<%= type%>" <%=data.lead.leadType==type?'Selected':''%>>
                                                            <%=type%>
                                                        </option>
                                                    <% }) %>
                                                </select>
                                            </div>

                                             <div class="col-lg-12">
                                                <label>Lead Status</label>
                                                <select class="form-control" name="leadStatus" required>
                                                    <% data.leadStatus.forEach((status, index) => { %>
                                                        <option value="<%=status%>" <%=data.lead.leadStatus==status?'Selected':''%>>
                                                            <%=status%>
                                                        </option>
                                                    <% }) %>
                                                </select>
                                            </div>

                                            <%if(user.role=="admin"){%>
                                              <div class="col-lg-12">
                                                <label>Assign To</label>
                                                <select class="form-control" name="assigned" <%= user.role == "agent" ? "disabled" : "" %> required>
                                                    <option value="" <%= !data.lead.assigned ? "selected" : "" %> disabled hidden>
                                                    Select Agent
                                                    </option>

                                                    <% data.agent.forEach((agent) => { %>
                                                    <option value="<%= agent._id %>" <%=data.lead.assigned &&  data.lead.assigned.userName == agent.userName ? 'selected' : "" %>>
                                                        <%= agent.userName %>
                                                    </option>
                                                    <% }) %>
                                                </select>
                                                </div>
<%}%>


                                            <div class="col-lg-12">
                                                <label>Message</label>
                                                <textarea name="message" class="form-control" placeholder="Message" value="<%=data.lead.message%>" rows="10"></textarea>
                                            </div>

                                         

                                            <div class="col-lg-12">
                                                <button type="submit" class="btn btn-primary w-100">Submit</button>
                                            </div>
                                        </div>
                                    </form>

                                     <%}%>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--============== End Dashboard Start ==============-->

                    <!--============== Footer Start =============-->
                    <%- include("../partials/copyright.ejs")%>
                        <!--============== Footer End =============-->
                </div>
        </div>
    </div>

    <!-- Javascript Files -->
    <script src="assets/js/dashboard-edit-lead.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/piechart/chart.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/range/tmpl.js"></script>
    <script src="assets/js/range/jquery.dependClass.js"></script>
    <script src="assets/js/range/draggable.js"></script>
    <script src="assets/js/range/jquery.slider.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- for toastify -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script>


        // can be used for future use in displaying custom messaage in case it is not validated 
        // (function () {
        //     'use strict'

        //     const forms = document.querySelectorAll('.needs-validation')

        //     Array.from(forms).forEach(function (form) {
        //         form.addEventListener('submit', function (event) {
        //             if (!form.checkValidity()) {
        //                 event.preventDefault()
        //                 event.stopPropagation()
        //             }
        //             form.classList.add('was-validated')
        //         }, false)
        //     })
        // })()


    </script>
</body>

</html>