<!doctype html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords"
        content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Uniland - Real Estate HTML5 Template</title>

    <base href="../">
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon2.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap"
        rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/webfonts/unicode/style.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/control.css">

</head>

<body class="dashboard-main">

    <div class="preloader">
        <div class="loader"></div>
    </div>

    <div id="page_wrapper" class="bg-light-gray">
        <div class="sidebar-page-wrapper">
            <%- include("../partials/dashboard-navbar")%>
                <!-- main section -->
                <div class="right-sidebar-block">

                    <!--============== Header Section Start ==============-->
 <%- include("../partials/headerDashboard.ejs")%>

                 
             <div class=" container">
                    <div class="row">
                        <div class="col">
                            <div class="page-title-wrapper d-lg-flex flex-column gap-3">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0 bg-transparent p-0">
                                        <li class="breadcrumb-item"><a href="admin">Dashboard</a></li>
                                        <li class="breadcrumb-item active" aria-current="">Agent</li>
                                    </ol>
                                </nav>
                              
                            </div>
                        </div>
                    </div>
                </div>
                    <!--============== Dashboard Start ==============-->

                    <div class="full-row p-3">
                        <div class="container-fluid">
                            <div class="row mb-3">
                            <div class="col-12 d-flex justify-content-between mb-3">
                                <h4 class="mb-3 color-dark">Agents</h4>
                                  <a  href="admin/new-agent" class="text-decoration-none " id="add-new-agent">
                                        <span class="fw-medium text-white d-inline-block btn btn-primary">Add New Agent+</h6>
                                    </a>
                            </div>

                            </div>

                            <div class="row ">

                            <div class="col-12 p-0 m-0">
                                <%- include("../partials/searchBar.ejs")%>
                            </div>

                            <div class="col-12">
                                    <div class="dashboard-panel border bg-white rounded overflow-hidden w-100">
                                        <div class="db-review-table">
                                            <%if(data && data.agent){%>
                                                <table class="w-100 items-list bg-transparent">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr No.</th>
                                                            <th>Agent Details</th>
                                                           
                                                            <th>Location</th>
                                                            <th>Leads</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <%data.agent.map((agent,index)=>{%>
                                                            <tr>
                                                                <td>
                                                                    <div class="db-comments-author">
                                                                        <%=(index+1)+(data.limit*(data.pagination.currentPage-1))%>
                                                                        
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="db-comments-text">
                                                                        <span class="db-single-rating">
                                                                            <%=agent.userName%>
                                                                        </span><br>
                                                                        <span class="db-single-rating">
                                                                            <%=agent.email%>
                                                                        </span><br>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="db-feedback-submitted">
                                                                       <%=agent.agentSpecificDetails.location.locationName%>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <%=agent.agentSpecificDetails.leads.length%>
                                                                </td>
                                                                <td>
                                                                    <a href="admin/edit-agent/<%=agent._id%>"><i class="fas fa-edit"></i></a>
                                                                </td>
                                                            </tr>
                                                            <%})%>
                                                                <%}%>

                                                                    </tr>
                                                    </tbody>
                                                </table>
                                        </div>
                                    </div>
                                </div>
                                <%- include("../partials/tablePagination.ejs")%>
                            </div>
                        </div>
                    </div>
                    <!--============== End Dashboard Start ==============-->

                    <!--============== Footer Start =============-->
                        <!--============== Footer End =============-->
                </div>

        </div>


    <!-- Javascript Files -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/piechart/chart.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/range/tmpl.js"></script>
    <script src="assets/js/range/jquery.dependClass.js"></script>
    <script src="assets/js/range/draggable.js"></script>
    <script src="assets/js/range/jquery.slider.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
        // Statistic
        if (document.querySelector('#mychart') !== null) {
            var ctx = document.getElementById("mychart").getContext('2d');

            // Data with datasets options
            var data = {
                type: 'line',
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct"],
                datasets: [{
                    label: 'Growth',
                    fill: true,
                    backgroundColor: "transparent",
                    borderColor: "#17c788",
                    data: [0, 150, 450, 400, 480, 630, 580, 500, 530, 400, 430, 600, 400],
                }]
            }

            // Chart declaration with some options:
            var mychart = new Chart(ctx, {
                type: 'line',
                data: data,
            });
        }
    </script>
</body>

</html>