<!doctype html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords"
        content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Uniland - Real Estate HTML5 Template</title>

    <base href="../../">
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon2.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap"
        rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/webfonts/unicode/style.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/control.css">
    <!-- toastify -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link
      href="https://cdn.jsdelivr.net/npm/jodit@latest/es2021/jodit.fat.min.css"
      rel="stylesheet"
      type="text/css"
    />
</head>

<body class="dashboard-message">

    <div class="preloader">
        <div class="loader"></div>
    </div>

    <div id="page_wrapper" class="bg-light-gray">
        <div class="sidebar-page-wrapper">
               <%- include("../partials/dashboard-navbar")%>

                <div class="right-sidebar-block">

                    <div class=" container">
                    <div class="row">
                        <div class="col">
                            <div class="page-title-wrapper d-lg-flex flex-column gap-3">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0 bg-transparent p-0">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Compare</li>
                                    </ol>
                                </nav>
                                <h1 class="page-title pt-2">Compare</h1>
                            </div>
                        </div>
                    </div>
                </div>

                    <!--============== Dashboard Start ==============-->
                    <div class="full-row p-3">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 d-flex flex-row justify-content-between">
                                    <h3 class="py-3 color-dark d-inline-block">Edit Property</h3> 
                                </a>
                                     
                                </div>
                                <div>
                                   
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12">
                                    <form class="submit-property" action="http://localhost:8080/backend/property/" id="myForm"
                                        method="post" enctype="multipart/form-data">

                                        <div class="row g-3 px-2">
                                            <div class="col-md-12">
                                                <label class="mb-1">Property Title</label>
                                                <input class="form-control" name="title" type="text" required value="<%=data.property.title%>"
                                                    placeholder="Property Name">
                                               
                                            </div>

                                            <div class="col-md-12">
                                                <label class="mb-1">Description</label>
                                                <textarea class="form-control" rows="5" id="jodit-editor" required name="description"
                                                    placeholder="Property Details"><%=data.property.description%></textarea>
                                            </div>

                                            <div class="col-md-6">
                                                <label class="mb-1">Property Types</label>
                                                <select class="form-select" name="propertyType" required>
                                              <%data.propertyType.map((type,index)=>{%>
                                                <option value="<%=type%>" <% data.property.propertyType==type?'Selected':""%>><%=type%></option>
                                                <%})%>
                                            </select>
                                            </div>




                                            <div class="col-md-6">
                                                <label class="mb-1">Year Of Construction</label>
                                                <select class="form-select" name="yearOfConstruction" required>
                                                    <%data.yearOfConstruction.forEach((year,index)=>{%>
                                                        <option value="<%=year%>" <%=year==data.property.yearOfConstruction?"selected":""%>>
                                                            <%=year%>
                                                        </option>
                                                        <%})%>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="mb-1">Area From (sqft)</label>
                                                <input class="form-control" id="area" name="areaFrom" type="number" min="0"
                                                    required placeholder="Property Area" value="<%=data.property.areaFrom%>">
                                            </div>
                                              <div class="col-md-6">
                                                <label class="mb-1">Area To (sqft)</label>
                                                <input class="form-control" id="area" name="areaTo" type="number" min="0"
                                                    required placeholder="Property Area"  value="<%=data.property.areaTo%>">
                                            </div>

                                            <div class="col-md-6">
                                                <label class="mb-1">Property Stage</label>
                                               <select class="form-select" name="propertyStage" id="propertyStage"
                                                required>
                                                 <%data.propertyStage.map((stage,index)=>{%>
                                                <option value="<%=stage%>" <%= data.property.propertyStage==stage?'Selected':""%>><%=stage%></option>
                                                <%})%>
                                            </select>

                                                
                                            </div>

                                             <div class="col-md-6">
                                                <label class="mb-1">Location</label>
                                                <select class="form-select" name="location" required>
                                                    <%data.location.map((loc,index)=>{%>
                                                        <option value="<%=loc._id%>" <%= loc.locationName==data.property.locationName?'Selected':''%>><%=loc.locationName%></option>
                                                        <%})%>
                                                </select>
                                            </div>

                                             <div class="col-md-6">
                                                <label class="mb-1">Listing Status</label>
                                                <select class="form-select" name="listingStatus" required>
                                                    <option <%= data.property.propertyType=="Published"?'Selected':""%>>Published</option>
                                                <option <%= data.property.propertyType=="Unpublished"?'Selected':""%>>Unpublished</option>
                                                </select>
                                            </div>

                                              <div class="col-md-6">
                                                <label class="mb-1">Builder / Owner Name</label>
                                              <input class="form-control" id="builderName" name="builderName" type="text" value="<%=data.property.builderName%>"
                                                placeholder="Builder Name">
                                            </div>

                                            <div class="row mt-4">
                                                <div class="col-md-12">
                                                    <label class="mb-1">Property Status</label>
                                                    <select class="form-select" name="propertyStatus" id="propertyStatus"
                                                required>
                                                 <%data.propertyStatus.map((propertyStatus,index)=>{%>
                                                <option value="<%=propertyStatus%>" <%= data.property.propertyStatus==propertyStatus?'Selected':""%>><%=propertyStatus%></option>
                                                <%})%>
                                            </select>
                                                </div>
                                            </div>

                                            

                                           
                                             <!-- rent specific -->
                                        <div class="col-md-6 rent-fields <%= data.property.propertyStatus == "For Rent" ? "" : "d-none" %>">
                                            <label class="mb-1">Rent/Monthly (INR)</label>
                                            <input class="form-control" id="rent" name="rent" min="0" type="number"
                                               value="<%=data.property.rent%>" placeholder="Rent/monthly">
                                        </div>

                                        <!-- sale specific -->
                                  

                                            <div class="col-md-6 sale-fields <%= data.property.propertyStatus === "For Sale" ? "" : "d-none" %>">
                                                <label class="mb-1">Price From (INR)</label>
                                                <input class="form-control" id="priceFrom" name="priceFrom" min="0"
                                                    type="number" placeholder="Price Starting" value="<%=data.property.priceFrom%>">
                                            </div>
                                              <div class="col-md-6 sale-fields <%= data.property.propertyStatus === "For Sale" ? "" : "d-none" %>">
                                                <label class="mb-1">Price To (INR)</label>
                                                <input class="form-control" id="priceTo" name="priceTo" min="0"
                                                    type="number" placeholder="Price To" value="<%=data.property.priceTo%>">
                                            </div>


                                              <div class="col-md-6 sale-fields <%= data.property.propertyStatus === "For Sale" ? "" : "d-none" %>">
                                                <label class="mb-1">Price From (Words)</label>
                                                <input class="form-control" id="priceFrom" name="priceFromInWords" min="0"
                                                    type="text" placeholder="Price Starting" value="<%=data.property.priceFromInWords%>">
                                            </div>
                                              <div class="col-md-6 sale-fields <%= data.property.propertyStatus === "For Sale" ? "" : "d-none" %>">
                                                <label class="mb-1">Price To (Words)</label>
                                                <input class="form-control" id="priceTo" name="priceToInWords" min="0"
                                                    type="text" placeholder="Price To" value="<%=data.property.priceToInWords%>">
                                            </div>


                                          

                                            <h6 class="mb-1">Images</h6>

                                        
                                        <div class="col-12 mb-3 ">
                                            <label for="fileUpload" class="form-label">Upload Image</label>
                                            <!-- Hidden field to store existing image (in case no new file is uploaded) -->
                                            <!-- <input type="hidden" name="existingImage" value="<%= data.property.imageUrl%>"> -->

                                         <!-- Custom upload button -->
                                            <input class="form-control d-none" name="imageUrl" type="file" 
                                                id="fileUpload" accept="image/*" value="" >

                                            <!-- Frame for image preview -->
                                            <div class="mt-3">
                                                <img id="previewFrame" src="<%=data.property.imageUrl%>" alt="Preview will appear here"
                                                    class="border rounded"
                                                    style="width:150px; height:150px; object-fit:cover; display:block;">
                                            </div>
                                            <label for="fileUpload" class="btn btn-outline-primary mt-2">Upload
                                                Image</label>
                                        </div>


                                        <div class=" colo-12 mb-3">
                                                <label for="secondaryImage" class="form-label">Cover Images</label>
                                                <!-- Hidden input file (triggered by custom button) -->
                                                <input 
                                                    class="form-control d-none" 
                                                    name="secondaryImageUrl" 
                                                    type="file"
                                                    id="secondaryImage" 
                                                    accept="image/*"  
                                                    multiple
                                                >
                                                
                                                <input type="hidden"  name="existingSecondaryImageUrl" value="<%=data.property.secondaryImageUrl%>">

                                                <!-- Frame for image preview -->
                                                 <%if(data.property.secondaryImageUrl && data.property.secondaryImageUrl.length>0){%>
                                                <div class="mt-3 d-flex justify-content-start align-items-center flex-wrap p-2 gap-2"
                                                    style="width: 100%; min-height: 15vh; background-color: rgb(224, 219, 219);" 
                                                    id="secondaryImageContainer">
                                                   
                                                </div>
                                                <%}else{%>
                                                <div class="mt-3 d-flex justify-content-start align-items-center flex-wrap p-2"
                                                    style="width: 100%; min-height: 15vh; background-color: rgb(224, 219, 219);" 
                                                    id="secondaryImageContainer">
                                                    <span class="d-inline-block text-center w-100" id="messageForImageContainer">
                                                        No images selected
                                                    </span>
                                                </div>
                                                <%}%>

                                                <!-- Custom upload button -->
                                                <label for="secondaryImage" class="btn btn-outline-primary mt-2">Choose Images</label>
                                            </div>



                                             <div class="col-12 mt-4">
                                                      <label class="mb-1">Video URL</label>
                                                <input class="form-control" id="videoUrl"
                                                    name="videoUrl" type="url" 
                                                    placeholder="URL" value="<%=data.property.videoUrl%>">
                                            </div>

                                            <div class="col-12">
                                                <h6 class="mb-1">Amenities</h6>
                                                </br>
                                                <div class="container">

                                                    <div class=" row gap-3">
                                                        <%data.amenities.map((amenity,index)=>{%>
                                                            <div class="form-check col-2">
                                                                 <input class="form-check-input" type="checkbox"  <%= data.property.amenities.includes(amenity._id.toString()) ? 'checked' : '' %>
                                                        id="amenity<%=amenity.name%>" name="amenities[]" value="<%=amenity._id%>">
                                                        <label class="form-check-label" for="amenity<%=amenity.name%>"><%=amenity.name%></label>
                                                    
                                                        </div>
                                                        <%})%>
                                                    </div>
                                                </div>
                                            </div>

                                        <div class=" row">
                                            <h6 class="mb-1">Address</h6>
                                            <br>
                                            <div class="col-md-6">
                                                <label class="mb-1">House/Office/Unit No.</label>
                                                <input class="form-control" id="unit" name="address[unit]" value="<%=data.property.address.unit%>" type="number"
                                                    required placeholder="Unit No.">
                                            </div>

                                            <div class="col-md-6">
                                                <label class="mb-1">Street</label>
                                            <input class="form-control" id="street" name="address[street]" value="<%=data.property.address.street%>" type="text"
                                                required placeholder="street">
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <label class="mb-1">City/Town</label>
                                                <input class="form-control" id="city" name="address[city]" type="text" value="<%=data.property.address.city%>"
                                                    required placeholder="City">

                                            </div>
                                             
                                            <div class="col-md-6">
                                                <label class="mb-1">District</label>
                                                <input class="form-control" id="district" name="address[district]"
                                                    type="text" value="<%=data.property.address.district%>" required placeholder="District">

                                            </div>

                                             
                                            <div class="col-md-6">
                                                <label class="mb-1">State</label>
                                                <input class="form-control" id="state" value="<%=data.property.address.state%>" name="address[state]" type="text"
                                                    required placeholder="State">
                                            </div>

                                             
                                            <div class="col-md-6">
                                                <label class="mb-1">Pincode</label>
                                                <input class="form-control" id="pincode" name="address[pincode]"  value="<%=data.property.address.pincode%>"
                                                    type="number" required placeholder="Pincode" min="100000" max="999999">
                                            </div>
                                        </div>

                                        <h6 class="">Additional Information</h6>
                                        <div class="col-md-6">
                                            <label class="mb-1">Rooms/Offices/Unit</label>
                                            <select class="form-select" name="additionalInformation[rooms]" required>
                                                <option value="1" <%=data.property.additionalInformation["rooms"]==1?"Selected":""%>>1</option>
                                                <option value="2" <%=data.property.additionalInformation["rooms"]==2?"Selected":""%>>2</option>
                                                <option value="3" <%=data.property.additionalInformation["rooms"]==3?"Selected":""%>>3</option>
                                                <option value="4" <%=data.property.additionalInformation["rooms"]==4?"Selected":""%>>4</option>
                                                <option value="5" <%=data.property.additionalInformation["rooms"]==5?"Selected":""%>>5</option>
                                                <option value="6"  <%=data.property.additionalInformation["rooms"]==6?"Selected":""%>>6</option>
                                                <option value="7"  <%=data.property.additionalInformation["rooms"]==7?"Selected":""%>>7</option>
                                                <option value="8" <%=data.property.additionalInformation["rooms"]==8?"Selected":""%>>8</option>
                                            </select>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="mb-1">Bathrooms</label>
                                            <select class="form-select" name="additionalInformation[bathrooms]"
                                                required>
                                                <option value="1" <%=data.property.additionalInformation["bathrooms"]==1?"Selected":""%>>1</option>
                                                <option value="2" <%=data.property.additionalInformation["bathrooms"]==2?"Selected":""%> >2</option>
                                                <option value="3" <%=data.property.additionalInformation["bathrooms"]==3?"Selected":""%> >3</option>
                                                <option value="4" <%=data.property.additionalInformation["bathrooms"]==4?"Selected":""%> >4</option>
                                                 <option value="5" <%=data.property.additionalInformation["bathrooms"]==5?"Selected":""%> >5</option>
                                                  <option value="6" <%=data.property.additionalInformation["bathrooms"]==6?"Selected":""%> >6</option>
                                            </select>
                                        </div>



                                            <div class="row mt-3" id="floorPlanContainer">
                                            <label>Floor Plan</label>
                                            <!-- First row (index 0) -->
                                             <%data.property.additionalInformation.floorPlan.map((place,index)=>{%>
                                                      <div class="floor-plan-row row mt-2">
                                                <div class="col-md-4">
                                                <input class="form-control"
                                                    name="additionalInformation[floorPlan][<%=index%>][floor]" 
                                                    type="number" placeholder="Floor" value="<%=place.floor%>" required>
                                                </div>
                                                <div class="col-md-4">
                                                <input class="form-control"
                                                    name="additionalInformation[floorPlan][<%=index%>][description]" 
                                                    value="<%=place.description%>" placeholder="Description" required>
                                                </div>
                                            </div>
                                                <%})%>
                                            <!-- Button always stays at bottom -->
                                            <div class="col-md-12 mt-3">
                                                <a type="button"  class="add-data-row-floor-plan btn-text text-dark">
                                                + Add New Row
                                                </a>
                                            </div>
                                            </div>

                                        <div class="row mt-3 " id="nearByPlaceContainer">
                                            <label class="mb-1">Near By Place</label><br>
                                            <%data.property.additionalInformation.nearByPlace.map((place,index)=>{%>
                                                <div class="w-100 row gap-3 mt-2 near-by-place-row">

                                                <div class="col-md-4">
                                                    <input type="text" name="additionalInformation[nearByPlace][<%=index%>][placeName]"
                                                        class="form-control" placeholder="Name of the place" value="<%=place.placeName%>" required>
                                                   </div>
                                                   <div class="col-md-4">        
                                                        <input type="number" required
                                                        name="additionalInformation[nearByPlace][<%=index%>][distance]"
                                                        class="form-control" placeholder="Distance (km)" value="<%=place.distance%>">
                                                </div>
                                                </div>
                                                <%})%>
                                            <div class="col-md-12 mt-3">
                                                <a href="" class="add-data-row btn-text text-dark">+ Add New Row</a>
                                            </div>
                                        </div>
                                            <button type="submit" class="btn btn-primary mt-4">Save Data</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--============== End Dashboard Start ==============-->

                    <!--============== Footer Start =============-->
                    <%- include("../partials/copyright.ejs")%>
                        <!--============== Footer End =============-->
                </div>
        </div>
    </div>

    <!-- Javascript Files -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/piechart/chart.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/range/tmpl.js"></script>
    <script src="assets/js/range/jquery.dependClass.js"></script>
    <script src="assets/js/range/draggable.js"></script>
    <script src="assets/js/range/jquery.slider.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
        window.properties = <%- JSON.stringify(data.property) %>;
    </script>
    <script src="assets/js/edit-property.js"></script>
      
    <!-- for toastify -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/jodit@latest/es2021/jodit.fat.min.js"
    ></script>
    <script>
      Jodit.make('#jodit-editor',{
        height:350,
        buttons: [
    'source', '|', 'bold', 'italic', 'underline', 'strikethrough', '|',
    'ul', 'ol', '|', 'outdent', 'indent', '|', 'image', 'link'
  ],
   uploader: {
    insertImageAsBase64URI: true,
     url: '/upload' 
  }
      });
    </script>
    
    <script>


        // can be used for future use in displaying custom messaage in case it is not validated 
        // (function () {
        //     'use strict'

        //     const forms = document.querySelectorAll('.needs-validation')

        //     Array.from(forms).forEach(function (form) {
        //         form.addEventListener('submit', function (event) {
        //             if (!form.checkValidity()) {
        //                 event.preventDefault()
        //                 event.stopPropagation()
        //             }
        //             form.classList.add('was-validated')
        //         }, false)
        //     })
        // })()


    </script>
</body>

</html>