<!doctype html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords"
        content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Uniland - Real Estate HTML5 Template</title>

    <base href="../">
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon2.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap"
        rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/webfonts/unicode/style.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/control.css">

</head>

<body class="dashboard-main">

    <div class="preloader">
        <div class="loader"></div>
    </div>

    <div id="page_wrapper" class="bg-light-gray">
        <div class="sidebar-page-wrapper">
            <%- include("../partials/dashboard-navbar")%>
                <!-- main section -->
                <div class="right-sidebar-block">

                    <!--============== Header Section Start ==============-->
 <%- include("../partials/headerDashboard.ejs")%>

                 
             <div class=" container">
                    <div class="row">
                        <div class="col">
                            <div class="page-title-wrapper d-lg-flex flex-column gap-3">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0 bg-transparent p-0">
                                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                        <li class="breadcrumb-item active" aria-current="">Leads</li>
                                    </ol>
                                </nav>
                              
                            </div>
                        </div>
                    </div>
                </div>
                    <!--============== Header Section End ==============-->

                    <!--============== Dashboard Start ==============-->

                    <div class="full-row p-3">
                        <div class="container-fluid">
                            <div class="row">
                           <div class="col-12">
                                    <h5 class="py-3 color-dark">Leads</h5>
                                </div>
                                 <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-1 g-3 mb-4">
                            <div class="col ">
                                <a href="admin/open-leads">                             
                                <div class="counter-style-2 rounded" style="background-color: #ee6565;">
                                    <div class="entry-wrapper">
                                        <div class="entry-thumbnail-wrapper">
                                            <div class="entry-thumbnail"><span class="unicode-house-1"></span></div>
                                        </div>
                                        <div class="entry-content-wrapper">
                                            <div class="entry-header">
                                                <span class="counter-num"><%=data.openLead%></span>
                                                <h5 class="counter-title">Open</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                  </a>
                            </div>
                             <div class="col">
                               <a href="admin/closed-leads">                             
                                <div class="counter-style-2  rounded" style="background-color: #6c6ad3;">
                                    <div class="entry-wrapper">
                                        <div class="entry-thumbnail-wrapper">
                                            <div class="entry-thumbnail"><span class="unicode-house-1"></span></div>
                                        </div>
                                        <div class="entry-content-wrapper">
                                            <div class="entry-header">
                                                <span class="counter-num"><%=data.closedLead%></span>
                                                <h5 class="counter-title">Closed Leads</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>

                             <div class="col">
                              <a href="admin/lost-leads">                             
                                <div class="counter-style-2 rounded" style="background-color: #ebe701;">
                                    <div class="entry-wrapper">
                                        <div class="entry-thumbnail-wrapper">
                                            <div class="entry-thumbnail"><span class="unicode-house-1"></span></div>
                                        </div>
                                        <div class="entry-content-wrapper">
                                            <div class="entry-header">
                                                <span class="counter-num"><%=data.lostLead%></span>
                                                <h5 class="counter-title">Lost Leads</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                    <!--============== End Dashboard Start ==============-->

                    <!--============== Footer Start =============-->
                    <%- include("../partials/copyright.ejs")%>
                        <!--============== Footer End =============-->
                </div>

        </div>
    </div>

    <!-- Javascript Files -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/piechart/chart.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/range/tmpl.js"></script>
    <script src="assets/js/range/jquery.dependClass.js"></script>
    <script src="assets/js/range/draggable.js"></script>
    <script src="assets/js/range/jquery.slider.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/dashboard-lead.js"></script>
    <script>
        // Statistic
        if (document.querySelector('#mychart') !== null) {
            var ctx = document.getElementById("mychart").getContext('2d');

            // Data with datasets options
            var data = {
                type: 'line',
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct"],
                datasets: [{
                    label: 'Growth',
                    fill: true,
                    backgroundColor: "transparent",
                    borderColor: "#17c788",
                    data: [0, 150, 450, 400, 480, 630, 580, 500, 530, 400, 430, 600, 400],
                }]
            }

            // Chart declaration with some options:
            var mychart = new Chart(ctx, {
                type: 'line',
                data: data,
            });
        }
    </script>
</body>

</html>