 <div class="col-lg-12 my-5">
    <% if(data.pagination.total>0){%>                                   
    <nav aria-label="Page navigation ">
                                            <ul class="pagination  justify-content-center">

                                                <!-- Previous Button -->
                                                <li class="page-item <%= !data.pagination.hasPrev ? 'disabled opacity-50' : '' %>">
                                                <button type="submit" name="page" class="page-link" href="<%=data.currentUrl%>?page=<%= data.pagination.currentPage - 1 %>" value="<%=data.pagination.currentPage-1%>" tabindex="-1" aria-disabled="<%= !data.pagination.hasPrev %>">
                                                   Prev
                                                </button>
                                                </li>
                                                <!-- Last Button -->
                                                <li class="page-item <%= data.pagination.currentPage==1 ? 'disabled opacity-50' : '' %>"">
                                                <button type="submit" name="page" class="page-link" href="<%=data.currentUrl%>?page=1" value="1" tabindex="-1" aria-disabled="<%= %>">
                                                    First
                                                </button>
                                                </li>


                                                <!-- Page Numbers -->
                                                <li class="page-item ">
                                                    <button name="page" class="page-link" href="<%=data.currentUrl%>?page=<%= data.pagination.currentPage %>" value="<%=data.pagination.currentPage%>"><%= data.pagination.currentPage %> of <%=data.pagination.totalPages%></a>
                                                </li>

                                                <!-- last Button -->
                                                <li class="page-item <%= data.pagination.currentPage==data.pagination.totalPages ? 'disabled opacity-50' : '' %>"">
                                                <button type="submit" name="page" class="page-link" href="<%=data.currentUrl%>?page=<%= data.pagination.totalPages %>" value="<%=data.pagination.totalPages%>" tabindex="-1" >
                                                    Last
                                                </button>
                                                </li>

                                                <!-- Next Button -->
                                                <li class="page-item <%= !data.pagination.hasNext ? 'disabled opacity-50        ' : '' %>">
                                                <button type="submit" name="page" class="page-link"  value="<%=Number(data.pagination.currentPage) + 1%>">
                                                    Next
                                                </button>
                                                </li>

                                            </ul>
                                            </nav>
<%}%>
                                    </div>

                         </form>
                         
                         
