<!doctype html>
<html lang="en">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Uniland</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon2.ico">

    <!-- Google Font -->	
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/fancybox.min.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/control.css">

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

        <style>
            .description {
                display: -webkit-box;
                -webkit-line-clamp: 2;   /* limit to 2 lines */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: 3.4em;       /* depends on your font-size/line-height */
                }

                input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

   input[name="mobileNumber"]{
            border:none;
            outline: none;
        }
        input[name="mobileNumber"]:hover{
            border:none;
            box-shadow: none;
            outline:none;
        }



.video-hero{
 height:200px!important;
}

@media (min-width:768px){
    .video-hero{
        height:400px !important;
    }
}
@media (min-width:1200px){
    .video-hero{
        height:500px!important;
    }
}


.video-hero .carousel-inner,
.video-hero .carousel-item,
.video-hero img {
  height: 100%;              /* take full container height */
  object-fit: cover;         /* crop image proportionally */
}

#property-card{
    height: 470px !important;
}
#property-image{
    height:50px !important;
}


        </style>


</head>
<body>

    <div class="preloader">
        <div class="loader"></div>
    </div>

    <div id="page_wrapper">
        <!--============== Header Section Start ==============-->
      <%- include("partials/navbar.ejs")%>
      <%- include("partials/lead-model.ejs")%>
        <!--============== Header Section End ==============-->

        <!--============== Carousel ==============-->
        <div class="video-hero full-row" id="video-hero2">
        
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="height:100%!important">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/images/background/carousel1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/background/carousel7.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/background/carousel6.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
        </div>
        <!--============== Search Banner End ==============-->


        <!--============== About Us Section Start ==============-->
        <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-us-img-wrap position-relative">
                            <img src="assets/images/real-estate-template-13.png" alt="real estate template">
                            <div class="simple-video-play d-flex">
                                <div class="position-relative d-inline-block">
                                    <a href="https://www.youtube.com/watch?v=bh-klGboIg8" data-fancybox data-caption="" class="rounded-circle position-relative bg-primary" style="z-index: 10">
                                        <i class="fa-solid fa-play color-white position-relative top-50 start-50 translate-middle"></i>
                                    </a>
                                    <div class="loader position-absolute top-50 start-50 translate-middle">
                                        <div class="loader-inner ball-scale-multiple">
                                            <div class="bg-primary"></div>
                                            <div class="bg-primary"></div>
                                        </div><span class="tooltip">
                                      <b>ball-scale-multiple</b></span>
                                    </div>
                                </div>
                                <div class="ps-4 fw-medium h6 color-white ls-2">Play Video</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row mb-4">
                            <div class="col-12">
                                <span class="tagline bg-secondary color-white px-2 fw-medium mb-3 d-table">About Us</span>
                                <h3 class="color-dark ls-2 mb-4">The Leading Real Estate Rental Marketplace</h3>
                                <p>Over 39,000 people work for us in more than 70 countries all over the This breadth of global coverage, combined with specialist services</p>
                            </div>
                        </div>
                        <div class="row row-cols-md-2 row-cols-1 g-4 mb-5">
                            <div class="col">
                                <div class="iconbox-list">
                                    <div class="entry-wrapper flex-row">
                                        <div class="entry-thumbnail">
                                            <div class="icon-box"><i class="fa-solid fa-house"></i></div>
                                        </div>
                                        <div class="entry-content-wrapper">
                                            <div class="entry-header">
                                                <h5 class="entry-title">Smart Home Design</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="iconbox-list">
                                    <div class="entry-wrapper flex-row">
                                        <div class="entry-thumbnail">
                                            <div class="icon-box"><i class="fa-solid fa-wand-magic-sparkles"></i></div>
                                        </div>
                                        <div class="entry-content-wrapper">
                                            <div class="entry-header">
                                                <h5 class="entry-title">Beautiful Scene Around</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="iconbox-list">
                                    <div class="entry-wrapper flex-row">
                                        <div class="entry-thumbnail">
                                            <div class="icon-box"><i class="fa-brands fa-pagelines"></i></div>
                                        </div>
                                        <div class="entry-content-wrapper">
                                            <div class="entry-header">
                                                <h5 class="entry-title">Exceptional Lifestyle</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="iconbox-list">
                                    <div class="entry-wrapper flex-row">
                                        <div class="entry-thumbnail">
                                            <div class="icon-box"><i class="fa-solid fa-headset"></i></div>
                                        </div>
                                        <div class="entry-content-wrapper">
                                            <div class="entry-header">
                                                <h5 class="entry-title">Complete 24/7 Security</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="bg-light border-start border-2 border-color-primary font-primary fw-medium ls-1 fs-6 color-dark p-4 mb-5">
                                    <p>Where we believe in more than just selling properties – we envision a future where every individual's dreams of owning a home, securing an investment, or finding the perfect commercial space come true.</p>
                                </div>
                                <a href="services" class="btn btn-primary btn-hover-secondary hover-flash-move">Over Services</a>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== About Us Section End ==============-->

        <!--============== Achievement Section Start ==============-->
        <div class="full-row bg-light">
            <div class="container">
                <div class="fact-counter position-relative z-index-9">
                    <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1 g-4">
                        <div class="col">
                            <div class="text-center d-flex flex-column gap-4 count wow animate__fadeIn animate__animated animate__fast">
                                <div class="fs-3 color-dark fw-semibold font-primary d-flex align-items-center justify-content-center gap-2 ls-2">
                                    <span class="count-num" data-speed="3000" data-stop="310">3210</span>
                                </div>
                                <h5 class="color-dark fs-6 text-uppercase fw-semibold ls-2 mb-0">Listed Property</h5>
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-center d-flex flex-column gap-4 count wow animate__fadeIn animate__animated animate__fast">
                                <div class="fs-3 color-dark fw-semibold font-primary d-flex align-items-center justify-content-center gap-2 ls-2">
                                    <span class="count-num" data-speed="3000" data-stop="51">51</span>
                                </div>
                                <h5 class="color-dark fs-6 text-uppercase fw-semibold ls-2 mb-0">Mega Project</h5>
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-center d-flex flex-column gap-4 count wow animate__fadeIn animate__animated animate__fast">
                                <div class="fs-3 color-dark fw-semibold font-primary d-flex align-items-center justify-content-center gap-2 ls-2">
                                    <span class="count-num" data-speed="3000" data-stop="25">25</span>
                                </div>
                                <h5 class="color-dark fs-6 text-uppercase fw-semibold ls-2 pt-2 mb-0">Awards Won</h5>
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-center d-flex flex-column gap-4 count wow animate__fadeIn animate__animated animate__fast">
                                <div class="fs-3 color-dark fw-semibold font-primary d-flex align-items-center justify-content-center gap-2 ls-2">
                                    <span class="count-num" data-speed="3000" data-stop="2130">2130</span>
                                </div>
                                <h5 class="color-dark fs-6 text-uppercase fw-semibold ls-2 pt-2 mb-0">Happy Clients</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=============== Achievement Section End ==============-->

        <!--============== Today Sale Section Start ==============-->
        <div class="full-row">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-6">
                            <span class="tagline bg-secondary color-white px-2 ls-2 fw-medium mb-3 d-table">Trending</span>
                            <h3 class="color-dark ls-2 mb-4">Recent Top Selling Appartment</h3>
                            <p>Houzez allow you to design unlimited panels and real estate custom forms to capture leads and keep record of all information</p>
                            <ul class="list-style-hyphen list-color-dark mb-5">
                                <li>Live Music Cocerts at Luviana</li>
                                <li>Our SecretIsland Boat Tour is Just for You</li>
                                <li>Live Music Cocerts at Luviana</li>
                                <li>Live Music Cocerts at Luviana</li>
                            </ul>
                            <ul class="d-flex gap-5 mb-5">
                                <li><span>3 <img src="assets/images/icon/bed.png" alt="Icon Image"></span><span class="d-block">Bedrooms</span></li>
                                <li><span>2 <img src="assets/images/icon/bath-tub.png" alt="Icon Image"></span><span class="d-block">Bathrooms</span></li>
                                <li><span>3450 <img src="assets/images/icon/selection.png" alt="Icon Image"></span><span class="d-block">square Ft</span></li>
                            </ul>
                            <div class="d-flex align-items-center gap-2 mb-5">
                                <div class="fs-6 color-dark d-inline-block"><span>Sold Price:</span></div>
                                <div class="fs-4 color-primary font-primary d-inline-block"><span>$1,038,000</span><small>/Average</small></div>
                            </div>
                            <a href="/browse" class="btn btn-primary btn-hover-secondary hover-flash-move">Booking Now</a>  
                        </div>
                    <div class="col-lg-6">
                        <img src="assets/images/realator-template-13.png" alt="realator template">
                    </div>
                </div>
            </div>
        </div>
        <!--============== Today Sale Section End ==============-->

        <!--============== Our Services Section Start ==============-->
        <div class="full-row bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <span class="tagline bg-secondary color-white px-2 ls-2 fw-medium mb-3 d-table mx-auto">Our Services</span>
                        <h3 class="color-dark ls-2 mb-4 mx-auto text-center">Our Main Focus</h3>
                        <span class="sub-title d-inline-block mb-5 color-secondary text-center">Selling a property is not just about placing a "For Sale" sign in the front yard and hoping for the best. In today's competitive real estate market</span>
                    </div>
                </div>
                <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 g-4">
                    <div class="col">
                        <div class="box-hover-bottom-line">
                            <div class="entry-wrapper">
                                <div class="entry-thumbnail">
                                    <div class="icon-box box-100px"><img src="assets/images/icon/villa.png" alt=""></div>
                                </div>
                                <div class="entry-content-wrapper">
                                    <div class="entry-header"><h5 class="entry-title">Buy a Home</h5></div>
                                    <div class="entry-content"><p>When buying a home, there are several essential steps and considerations to keep in mind</p></div>
                                    <div class="entry-footer"><a href="#" class="btn-link fw-semibold">Learn More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box-hover-bottom-line">
                            <div class="entry-wrapper">
                                <div class="entry-thumbnail">
                                    <div class="icon-box box-100px"><img src="assets/images/icon/infrastructure.png" alt=""></div>
                                </div>
                                <div class="entry-content-wrapper">
                                    <div class="entry-header"><h5 class="entry-title">Development</h5></div>
                                    <div class="entry-content"><p>When buying a home, there are several essential steps and considerations to keep in mind</p></div>
                                    <div class="entry-footer"><a href="#" class="btn-link fw-semibold">Learn More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box-hover-bottom-line">
                            <div class="entry-wrapper">
                                <div class="entry-thumbnail">
                                    <div class="icon-box box-100px"><img src="assets/images/icon/rent.png" alt=""></div>
                                </div>
                                <div class="entry-content-wrapper">
                                    <div class="entry-header"><h5 class="entry-title">Selling and Rental</h5></div>
                                    <div class="entry-content"><p>When buying a home, there are several essential steps and considerations to keep in mind</p></div>
                                    <div class="entry-footer"><a href="#" class="btn-link fw-semibold">Learn More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Our Services Section End ==============-->

        <!--============== Featured Listings Properties Start ==============-->
        <div class="full-row bg-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <span class="tagline bg-secondary color-white px-2 ls-2 fw-medium mb-3 d-table mx-auto">Properties</span>
                        <h3 class="color-dark ls-2 mb-5 mx-auto text-center">Featured Property</h3>
                    </div>
                </div>
                <div class="owl-carousel 3block-carusel nav-disable">
                    <%if(data.property && data.property.length>0){%>

                    <% data.property.map(property=>{%>
                       <div class="item" >
                        <div class="property-grid-4 property-block">
                            <div class="entry-wrapper" id="property-card" >
                                <div class="entry-thumbnail" style="height:70%!important;width:100%;overflow: hidden;" id="property-image">
                                    <div class="type">
                                        <span class="rent color-white"><%=property.propertyStatus%></span>
                                    </div>
                                    
                                    <ul class="view-fiender">
                                        <li>
                                            <div style="display:none">
                                            <%if(property.secondaryImageUrl && property.secondaryImageUrl.length>0){%>
                                            <%property.secondaryImageUrl.map((image,index)=>{%>
                                            <a data-fancybox="post-7151" href="<%=image%>">
                                                <img src="<%=image%>"/>
                                              </a>  
                                            <%})%>
                                                <%}%>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                    <!-- principal image -->
                                    <a href="front-property/<%=property._id%>" class="entry-thumbnail-image"><img  src="<%=property.imageUrl%>" alt="real estate template" style="height:200px !important; width:100%; object-fit: cover;"></a>
                                </div>
                                <div class="entry-content-wrapper" style="width: 100%;height:100%!important;">
                                    <div class="entry-header">
                                        <h5 class="listing-title"><a href="front-property/<%=property._id%>"><%=property.title%></a></h5>
                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> <%=property.address.unit%>, <%=property.address.street%>, <%=property.address.city%>, <%=property.address.district%>, <%=property.address.state%>, <%=property.address.pincode%></span>
                                    </div>
                                    <div class="entry-content">
                                        <ul class="property-info">
                                            <li><span><%=property.additionalInformation.rooms%> <img src="assets/images/icon/bed.png" alt="Icon Image"></span><span class="d-block">Bedrooms</span></li>
                                            <li><span><%=property.additionalInformation.bathrooms%> <img src="assets/images/icon/bath-tub.png" alt="Icon Image"></span><span class="d-block">Bathrooms</span></li>
                                            <li><span><%=property.area%> <img src="assets/images/icon/selection.png" alt="Icon Image"></span><span class="d-block">Square Ft</span></li>
                                        </ul>
                                        <div class="description"><%-property.description%> <a href="javascript:void(0)" class="btn-link">More Info...</a></div>
                                    </div>
                                    <div class="entry-footer">
                                        <%if(property.propertyStatus=="For Rent"){%>
                                        <span class="listing-price">₹<%=property.rent%><small> /Monthly</small></span>
                                        <%}%>
                                        <%if(property.propertyStatus=="For Sale"){%>
                                        <span class="listing-price">₹<%=property.priceFromInWords%>- ₹<%=property.priceToInWords%><small>/All Inclusive</small></span>
                                        <%}%>

                                        <!-- <ul class="quick-meta">
                                            <li><a href="#" title="Add Compare"><i class="fa-solid fa-shuffle"></i></a></li>
                                            <li><a href="#" title="Add Favourite"><i class="fa-regular fa-heart"></i></a></li>
                                            <li><a class="quick-view" href="#quick-view" title="Quick View"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%})}%>
      </div>
            </div>
        </div>
        <!--============== Featured Listings Properties End ==============-->

        <!--============== Apartment Sketch Section Start ==============-->
        <div class="full-row bg-light">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <span class="tagline bg-secondary color-white px-2 ls-2 fw-medium mb-3 d-table mx-auto">Apartment Sketch</span>
                        <h3 class="color-dark ls-2 mb-5 mx-auto text-center">Apartments Plan Preview</h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="tab-style-2">
                            <ul class="nav tab-filter-nav">
                                <li class="nav-item">
                                    <a href="#pill1-deluxe" class="nav-link active" data-bs-toggle="pill">Deluxe Portion</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#pill1-garden" class="nav-link" data-bs-toggle="pill">Garden House</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#pill1-double" class="nav-link" data-bs-toggle="pill">Double Room</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="pill1-deluxe">
                                <div class="row row-cols-lg-2 row-cols-1 g-4">
                                    <div class="col">
                                        <div class="p-5 bg-primary text-white">
                                            <h3 class="color-white ls-2 mb-4">Deluxe Portion</h3>
                                            <p>Enimad minim veniam quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet cons aetetur adipisicing elit sedo eiusmod tempor.Incididunt labore et dolore magna aliqua. sed ayd minim veniam.</p>
                                            <ul class="dotted-line-list mt-4">
                                                <li><span>Total Area</span> <span>2800 Sq. Ft</span></li>
                                                <li><span>Bedroom</span> <span>150 Sq. Ft</span></li>
                                                <li><span>Bathroom</span> <span>45 Sq. Ft</span></li>
                                                <li><span>Belcony/Pets</span> <span>Allowed</span></li>
                                                <li><span>Lounge</span> <span>650 Sq. Ft</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="apartments-plan-img">
                                            <img src="assets/images/clipart/17.png" alt="#">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pill1-garden">
                                <div class="row row-cols-xl-2 row-cols-sm-2 row-cols-1 g-4">
                                    <div class="col">
                                        <div class="apartments-plan-info bg-primary text-white">
                                            <h2 class="text-white">Deluxe Portion</h2>
                                            <p>Enimad minim veniam quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet cons aetetur adipisicing elit sedo eiusmod tempor.Incididunt labore et dolore magna aliqua. sed ayd minim veniam.</p>
                                            <div class="apartments-info-list mt-40">
                                                <ul>
                                                    <li><label>Total Area</label> <span>2800 Sq. Ft</span></li>
                                                    <li><label>Bedroom</label> <span>150 Sq. Ft</span></li>
                                                    <li><label>Bathroom</label> <span>45 Sq. Ft</span></li>
                                                    <li><label>Belcony/Pets</label> <span>Allowed</span></li>
                                                    <li><label>Lounge</label> <span>650 Sq. Ft</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="apartments-plan-img">
                                            <img src="assets/images/clipart/17.png" alt="#">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pill1-double">
                                <div class="row row-cols-xl-2 row-cols-sm-2 row-cols-1 g-4">
                                    <div class="col">
                                        <div class="apartments-plan-info bg-primary text-white">
                                            <h2 class="text-white">Deluxe Portion</h2>
                                            <p>Enimad minim veniam quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet cons aetetur adipisicing elit sedo eiusmod tempor.Incididunt labore et dolore magna aliqua. sed ayd minim veniam.</p>
                                            <div class="apartments-info-list mt-40">
                                                <ul>
                                                    <li><label>Total Area</label> <span>2800 Sq. Ft</span></li>
                                                    <li><label>Bedroom</label> <span>150 Sq. Ft</span></li>
                                                    <li><label>Bathroom</label> <span>45 Sq. Ft</span></li>
                                                    <li><label>Belcony/Pets</label> <span>Allowed</span></li>
                                                    <li><label>Lounge</label> <span>650 Sq. Ft</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="apartments-plan-img">
                                            <img src="assets/images/clipart/17.png" alt="#">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Apartment Sketch Section End ==============-->

        <!--============== Video Banner Start ==============-->
        <div class="full-row overlay-dark color-white paraxify" style="background-image: url(assets/images/background/bg-2.png); background-repeat: no-repeat;">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5">
                        <div class="simple-video-play d-flex justify-content-center">
                            <div class="position-relative d-inline-block">
                                <a data-fancybox href="https://www.youtube.com/watch?v=bh-klGboIg8" class="rounded-circle position-relative bg-primary" style="z-index: 10">
                                    <i class="fa-solid fa-play color-white position-relative top-50 start-50 translate-middle"></i>
                                </a>
                                <div class="loader position-absolute top-50 start-50 translate-middle">
                                    <div class="loader-inner ball-scale-multiple">
                                        <div class="bg-primary"></div>
                                        <div class="bg-primary"></div>
                                    </div><span class="tooltip">
                                  <b>ball-scale-multiple</b></span>
                                </div>
                            </div>
                            <div class="ps-4 fw-medium color-white h6 ls-2">Play Video</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Video Banner End ==============-->


        <!--============== Our Aminities Section Start ==============-->
        <div class="full-row bg-light">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <span class="tagline bg-secondary color-white px-2 ls-2 fw-medium mb-3 d-table mx-auto">Our Aminities</span>
                        <h3 class="color-dark ls-2 mb-5 mx-auto text-center">Building Aminities</h3>
                    </div>
                </div>
                <div class="row row-cols-lg-4 row-cols-md-3 row-cols-2 g-2">
                    <div class="col">
                        <a href="#" class="box-link h-100 hover-shadow-lg">
                            <div class="box-50px mb-3"><img src="assets/images/icon/parking.png" alt=""></div>
                            <h6 class="text-uppercase ls-1 fs-6">Parking Space</h6>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="box-link h-100 hover-shadow-lg">
                            <div class="box-50px mb-3"><img src="assets/images/icon/swiming-pool.png" alt=""></div>
                            <h6 class="text-uppercase ls-1 fs-6">Swimming Pool</h6>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="box-link h-100 hover-shadow-lg">
                            <div class="box-50px mb-3"><img src="assets/images/icon/privacy.png" alt=""></div>
                            <h6 class="text-uppercase ls-1 fs-6">Private Security</h6>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="box-link h-100 hover-shadow-lg">
                            <div class="box-50px mb-3"><img src="assets/images/icon/medical.png" alt=""></div>
                            <h6 class="text-uppercase ls-1 fs-6">Medical Center</h6>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="box-link h-100 hover-shadow-lg">
                            <div class="box-50px mb-3"><img src="assets/images/icon/library.png" alt=""></div>
                            <h6 class="text-uppercase ls-1 fs-6">Library Area</h6>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="box-link h-100 hover-shadow-lg">
                            <div class="box-50px mb-3"><img src="assets/images/icon/king-bed.png" alt=""></div>
                            <h6 class="text-uppercase ls-1 fs-6">King Size Beds</h6>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="box-link h-100 hover-shadow-lg">
                            <div class="box-50px mb-3"><img src="assets/images/icon/smart-home.png" alt=""></div>
                            <h6 class="text-uppercase ls-1 fs-6">Smart Homes</h6>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="box-link h-100 hover-shadow-lg">
                            <div class="box-50px mb-3"><img src="assets/images/icon/playground.png" alt=""></div>
                            <h6 class="text-uppercase ls-1 fs-6">Kid’s Playland</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Our Aminities Section End ==============-->

        <!--============== Testimonial Section Start ==============-->
        <div class="full-row bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <span class="tagline bg-secondary color-white px-2 ls-2 fw-medium mb-3 d-table mx-auto">Testimonial</span>
                        <h3 class="color-dark ls-2 mb-5 mx-auto text-center">What Client Says About Us</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="owl-carousel 3block-carusel owl-outer-20 nav-disable">
                            <div class="item">
                                <div class="testimonial-block-1 bg-white transation h-100 hover-underline-animation">
                                    <div class="quote-icon"><img src="assets/images/left-quote.png" alt=""></div>
                                    <p>"I cannot express enough how grateful I am to Uniland Agency and their incredible team for helping me find my dream home."</p>
                                    <div class="d-flex align-items-center gap-3 mt-30">
                                        <div class="image-avata">
                                            <img class="rounded-circle me-2" src="assets/images/team/1.jpg" alt="avata">
                                        </div>
                                        <div class="about-avata">
                                            <div class="d-table">by <span class="name text-dark">Ali Tufan</span></div>
                                            <span class="d-table designation">Marketing Manager, Aliko Corporation</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-block-1 bg-white transation h-100 hover-underline-animation">
                                    <div class="quote-icon"><img src="assets/images/left-quote.png" alt=""></div>
                                    <p>"I recently sold my home with the help of Uniland Real Estate Agency, and I must say, their team truly cares about their clients."</p>
                                    <div class="d-flex align-items-center gap-3 mt-30">
                                        <div class="image-avata">
                                            <img class="rounded-circle me-2" src="assets/images/team/2.jpg" alt="avata">
                                        </div>
                                        <div class="about-avata">
                                            <div class="d-table">by <span class="name text-dark">Ali Tufan</span></div>
                                            <span class="d-table designation">Marketing Manager, Aliko Corporation</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-block-1 bg-white transation h-100 hover-underline-animation">
                                    <div class="quote-icon"><img src="assets/images/left-quote.png" alt=""></div>
                                    <p>"I had the pleasure of working with Uniland Real Estate Agency to find my first home, and I am delighted with the experience."</p>
                                    <div class="d-flex align-items-center gap-3 mt-30">
                                        <div class="image-avata">
                                            <img class="rounded-circle me-2" src="assets/images/team/3.jpg" alt="avata">
                                        </div>
                                        <div class="about-avata">
                                            <div class="d-table">by <span class="name text-dark">Ali Tufan</span></div>
                                            <span class="d-table designation">Marketing Manager, Aliko Corporation</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-block-1 bg-white transation h-100 hover-underline-animation">
                                    <div class="quote-icon"><img src="assets/images/left-quote.png" alt=""></div>
                                    <p>"I cannot express enough how grateful I am to Uniland Agency and their incredible team for helping me find my dream home."</p>
                                    <div class="d-flex align-items-center gap-3 mt-30">
                                        <div class="image-avata">
                                            <img class="rounded-circle me-2" src="assets/images/team/1.jpg" alt="avata">
                                        </div>
                                        <div class="about-avata">
                                            <div class="d-table">by <span class="name text-dark">Ali Tufan</span></div>
                                            <span class="d-table designation">Marketing Manager, Aliko Corporation</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Testimonial Section End ==============-->

        <!--============== Blog Section Start ==============-->
        <div class="full-row">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-10">
                        <span class="tagline bg-secondary color-white px-2 ls-2 fw-medium mb-3 d-table mx-auto">Our Recent Post</span>
                        <h3 class="color-dark ls-2 mb-5 mx-auto text-center">Publish What We Think, About Our Company Activities</h3>
                    </div>
                </div>
                <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-3">
                    <div class="col">
                        <div class="post-block-3 entry-post">
                            <div class="entry-wrapper">
                                <div class="entry-thumbnail-wrapper">
                                    <div class="entry-thumbnail"><img src="assets/images/blog/1.png" alt="real estate template"></div>
                                </div>
                                <div class="entry-content-wrapper">
                                    <div class="entry-header">
                                        <div class="entry-meta">
                                            <a href="#"><i class="fa-solid fa-user"></i> By <span>Robert Haven</span></a>
                                            <a href="#"><i class="fa-solid fa-folder-open"></i> <span>Decorate</span></a>
                                        </div>
                                        <h4 class="entry-title">
                                            <a href="#" class="post-title">Our latest development projects by develop</a>
                                        </h4>
                                    </div>
                                    <div class="entry-footer">
                                        <div class="post-date"><a href="#">July 30, 2023</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="post-block-3 entry-post">
                            <div class="entry-wrapper">
                                <div class="entry-thumbnail-wrapper">
                                    <div class="entry-thumbnail"><img src="assets/images/blog/2.png" alt="real estate agency"></div>
                                </div>
                                <div class="entry-content-wrapper">
                                    <div class="entry-header">
                                        <div class="entry-meta">
                                            <a href="#"><i class="fa-solid fa-user"></i> By <span>Robert Haven</span></a>
                                            <a href="#"><i class="fa-solid fa-folder-open"></i> <span>Decorate</span></a>
                                        </div>
                                        <h4 class="entry-title">
                                            <a href="#" class="post-title">Cultivating market leadership from the inside</a>
                                        </h4>
                                    </div>
                                    <div class="entry-footer">
                                        <div class="post-date"><a href="#">July 30, 2023</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="post-block-3 entry-post">
                            <div class="entry-wrapper">
                                <div class="entry-thumbnail-wrapper">
                                    <div class="entry-thumbnail"><img src="assets/images/blog/3.png" alt="real estate agency"></div>
                                </div>
                                <div class="entry-content-wrapper">
                                    <div class="entry-header">
                                        <div class="entry-meta">
                                            <a href="#"><i class="fa-solid fa-user"></i> By <span>Robert Haven</span></a>
                                            <a href="#"><i class="fa-solid fa-folder-open"></i> <span>Decorate</span></a>
                                        </div>
                                        <h4 class="entry-title">
                                            <a href="#" class="post-title">We are the next generation of the advertise</a>
                                        </h4>
                                    </div>
                                    <div class="entry-footer">
                                        <div class="post-date"><a href="#">July 30, 2023</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=============== Blog Section End ===============-->

        <!--============== Register Section Start ==============-->
        <div class="full-row bg-light py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-md-8">
                        <h4 class="color-dark mb-0 fs-5 text-uppercase ls-2 fw-medium">Are you looking for a House?</h4>
                        <span class="d-inline-block">We can help you realize your dream of a new home</span>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <a href="/browse" class="btn btn-primary btn-hover-secondary hover-flash-move d-table ms-auto">Explore Property</a>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Register Section End ==============-->
<%- include("partials/footer.ejs")%>

    </div>

    <!-- Property Modal Start -->
    <div class="overlay-dark modal fade quick-view-modal" id="quick-view">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="close view-close">
                    <span aria-hidden="true">&times;</span>
                </div>
                <div class="modal-body property-block summary p-3">
                    <div class="row row-cols-xl-2 row-cols-1">
                        <div class="col">
                            <div class="entry-thumbnail bg-secondary hover-img-zoom m-2">
                                <div class="type"><span class="sale text-white">For Sale</span><span class="featured text-white">Featured</span></div>
                                <a href="#"><img class="w-100" src="assets/images/property/2.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="entry-content-wrapper">
                                <div class="property-type"><a href="#">Condos</a></div>
                                <h5 class="entry-title mb-1" id="staticBackdropLabel"><a href="#">Luxury Condos Infront of the street of Green Park</a></h5>
                                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 4213 South Burlington, VT 05403</span>
                                <span class="d-block color-dark hover-text-primary primary-font fs-7 mb-2">( 100 People Recommended )</span>
                                <div class="d-flex align-items-center">
                                    <span class="color-primary font-primary fw-semibold fs-3">$5600 - $8300/<small>mo</small></span>
                                    <span class="product-status ms-4 my-1"><i class="fas fa-check"></i> Available</span>
                                </div>
                                <div class="product-offers mt-3">
                                    <ul class="product-offers-list">
                                        <li class="product-offer-item"> <strong>Special Price </strong>Get extra 19% off (price inclusive of discount)</li>
                                        <li class="product-offer-item"> <strong>Bank Offer </strong> 10% instant discount on VISA Cards</li>
                                        <li class="product-offer-item"> <strong>No cost EMI $49/month.</strong> Standard EMI also available</li>
                                    </ul>
                                </div>
                                <hr>
                                <div class="quantity">
                                    <ul class="d-flex gap-2">
                                        <li><span>Rooms:</span> 5</li>
                                        <li><span>Beds:</span> 3</li>
                                        <li><span>Bathrooms:</span> 2</li>
                                        <li><span>Garage:</span> 1</li>
                                        <li><span>Area:</span> 1100 Sqft</li>
                                    </ul>
                                </div>
                                <h5 class="text-secondary my-3">Description</h5>
                                <p>Bibendum purus aenean mus aenean eu interdum nonummy ipsum ad consequat. Dui eros donec faucibus convallis tempus rutrum id donec mus hymenaeos placerat congue curae mauris turpis gravida viverra consequat consequat gravida luctus.</p>
                                <div class="short-description d-flex">
                                    <span class="me-4"><b>Highlights:</b></span>
                                    <div class="short-description">
                                        <ul class="list-style d-flex flex-column">
                                            <li>Regular Fit.</li>
                                            <li>Full sleeves.</li>
                                            <li>Machine wash, tumble dry.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Property Modal End -->

    <!-- Login Modal -->
    <div class="modal fade login-modal" id="loginmodal" tabindex="-1" aria-labelledby="loginmodalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">User Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body user-login-form">
                    <form action="#" method="post">
                        <div class="row row-cols-1 g-3">
                            <div class="col">
                                <label class="access-field"><i class="fa-solid fa-user"></i> <input type="email" class="form-control" placeholder="Username/Email" value="" required=""></label>
                            </div>
                            <div class="col">
                                <label class="access-field"><i class="fa-solid fa-lock"></i> <input type="password" class="form-control" placeholder="Password" value="" required=""></label>
                            </div>
                            <div class="col">
                                <div class="d-flex justify-content-between">
                                    <label><input type="checkbox" name="remember" value=""> Remember me</label>
                                    <span><a href="#">Forgot Password</a></span>
                                </div>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-secondary hover-flash-move w-100">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-start">
                    <a href="signup.html" class="text-dark d-table font-primary fw-medium ls-1 hover-color-primary"><u>Don't Have Account? Click Here.</u></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Modal End -->

     <!-- Schedule a Call Modal lead for buy -->
   
    <!-- Schedule a Call End -->

    <!-- Scroll to top -->
    <div class="scroll-top-vertical xs-mx-none" id="scroll">Back to top <i class="ms-2 fa-solid fa-arrow-right-long"></i></div>

    <!-- Javascript Files -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/greensock.js"></script>
    <script src="assets/js/layerslider.transitions.js"></script>
    <script src="assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/fancybox.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/custom.js"></script>
   
    <!-- common scripts -->
     <%- include("partials/scripts.ejs")%>


    <script type="text/javascript">
        $(document).ready(function() {
            $('#slider').layerSlider({
                sliderVersion: '6.0.0',
                responsiveUnder: 0,
                layersContainer: 0,
                slideBGSize: 'auto',
                shuffleSlideshow: true,
                skin: 'numbers',
                thumbnailNavigation: 'always',
                tnContainerWidth: '100%',
                skinsPath: 'assets/skins/'
            });
        });
    </script>
</body>
</html>