<!doctype html>
<html lang="en">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Uniland - Real Estate HTML5 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon2.ico">

    <!-- Google Font -->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/fancybox.min.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/control.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <style>
         input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

   input[name="mobileNumber"]{
            border:none;
            outline: none;
        }
        input[name="mobileNumber"]:hover{
            border:none;
            box-shadow: none;
            outline:none;
        }
    </style>

</head>
<body class="contact-page">

    <div class="preloader">
        <div class="loader"></div>
    </div>

    <div id="page_wrapper" class="bg-light-gray">
        <!--============== Header Section Start ==============-->
           <%-include("partials/navbar.ejs")%>
             <%-include("partials/lead-model.ejs")%>
        <!--================== Header Section End =================-->

        <!--============== Page Banner Section Start ==============-->
        <div class="full-row pt-5 pb-3">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="page-title-wrapper d-lg-flex flex-column gap-1">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb bg-transparent p-0">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Sell</li>
                                </ol>
                            </nav>
                            <h1 class="page-title">Sell</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=============== Page Banner Section End ===============-->

        <!--================== Page Content Start =================-->
        <div class="full-row pt-0">
            <div class="container"> 
                <div class="row g-5">
                    <div class="col-md-5 order-md-2">
                        <div class="contact-info">
                            <h5 class="mb-4">Get In Touch</h5>
                            <p>Nullam vel enim risus. Integer rhoncus hendrerit sem egestas porttitor.</p>
                            <ul>
                                <li><span class="mb-0">Office Address :</span> Level 13, 2 Elizabeth St, Melbourne, Victoria 3000 Australia</li>
                                <li><span>Contact Number :</span> (1) 000 991 8830, (800) 8001-8588</li>
                                <li><span>Email Address :</span> Info@patron.com, support@patron.com</li>
                            </ul>
                            <h5 class="mb-2">Career Info</h5>
                            <p>If you’re interested in employment opportunities at Unicoder, please email us:<br> <a href="#">support@unicoderbd.com</a></p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <h5 class="mb-4">Enter your details</h5>
                        <div class="contact-form">
                          <form name="sellLeadForm" id="sellLeadForm" action="http://localhost:8080/backend/lead" method="post">
                    <div class="row g-3">
                        <div class="col-lg-12">
                            <label>Username</label>
                            <input type="text" name="clientName" class="form-control" placeholder="Username" required>
                        </div>

                        <div class="col-lg-12">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Email" required>
                        </div>

                        <div class="col-lg-12">
                            <label>Location</label>
                            <select class="form-control" name="locationName" required>
                                <option value="" disabled selected hidden>Select location</option>
                                <% data.location.forEach((location, index) => { %>
                                    <option value="<%= location._id %>">
                                        <%= location.locationName %>
                                    </option>
                                <% }) %>
                            </select>
                        </div>

                        <div class="col-lg-12">
                            <label>Mobile Number</label>
                            <!-- <input type="number" class="form-control" name="mobileNumber" placeholder="Mobile Number" minlength="10" maxlength="10"  min="1000000000" max="9999999999" required> -->
                      <div class="d-flex flex-row  form-control align-items-center">
                                                    <span >+91</span> 
                                        <input type="text" 
                                        name="mobileNumber" 
                                        placeholder="Mobile Number" 
                                        class="w-100" 
                                        maxlength="10" 
                                        inputmode="numeric"
                                        style="border:none" 
                                        required
                                        oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);"
                                        />

                        </div>

                        <div class="col-lg-12">
                            <label>Message</label>
                            <textarea name="message" class="form-control" placeholder="Message" rows="10"></textarea>
                        </div>

                        <input type="hidden" name="leadType" value="sell">

                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </div>
                    </div>
                        </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=================== Page Content End ==================-->

        <!--================= Footer Section Start ================-->
        
        <!--================= Copyright Section End =================-->
    </div>
    
    <%- include("partials/footer.ejs")%>
    <!-- Scroll to top -->
    <div class="scroll-top-vertical xs-mx-none" id="scroll">Back to top <i class="ms-2 fa-solid fa-arrow-right-long"></i></div>

    <!-- Javascript Files -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/fancybox.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/range/tmpl.js"></script>
    <script src="assets/js/range/jquery.dependClass.js"></script>
    <script src="assets/js/range/draggable.js"></script>
    <script src="assets/js/range/jquery.slider.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/sell-leads.js"></script>

    

</body>
</html>